.gstv-container {
  width: 130px;
  height: 35px;
  margin-bottom: 50px;
}

.gstv-stroke {
  position: absolute;
  width: 120px;
  height: 30px; 
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  border-radius: 50%;
  border: 5px solid white;
  text-transform: uppercase;
}

.gstv-text {
  font-size: 1.2rem;
}

.black {
  width: 120px;
  height: 35px; 
  border-radius: 0%;
  background-color: black;
  border: 5px solid black;
  z-index: 3;
  animation: black-move-frames 4s infinite ease-in-out;
}

.stroke {
  z-index: 2;
  background-color: black;
  animation: stroke-move-frames 4s infinite ease-in-out;
}

@keyframes stroke-move-frames {
  0% { transform: translateY(-100%); }
  5% { transform: translateY(0); }
  12% { transform: translateY(0); }
  20% { transform: translateY(-100%); }
  100% { transform: translateY(-100%); }
}

@keyframes black-move-frames {
  0% { transform: translateY(-100%); }
  5% { transform: translateY(-50%); }
  12% { transform: translateY(-50%); }
  20% { transform: translateY(-100%); }
  100% { transform: translateY(-100%); }
}


@media (max-width: 768px) {
  .gstv-container {
    width: 140px;
    height: 35px;
    margin-bottom: 30px;
    margin-top: 0px;
  }
}