
.menu-top {
    display: flex;
    justify-content: start;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    /* background-color: orange; */
}

.menu-left {
    display: flex;
    box-sizing: border-box;
    justify-content: start;
    padding-left: 4vw;
    padding-top: 3.5vh;
    width: 50%;
    height: 100%;
    gap: 6vw;
}

.back-button {
    background: none;
    border: none;
    padding: 0px;
    font-size: 30px;
    color: white; 
    font-weight: bold;
}

.back-button:hover,
.back-button:focus,
.back-button:active {
    color: #0f0;
    background: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
}

/* Direita - fundo vermelho */
.menu-right {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    width: 50%;
    height: 100%;
    gap: 20px;
    font-size: 1.2rem;
    color: white;
    padding-right: 4vw;
    padding-bottom: 12px;
}

.menu-topicos {

}

.menu-link {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s;
    padding-left: 5px;
    padding-right: 5px;
}

.menu-link:hover {
    color: #00ff00;
}

.menu-icons {
    display: inline-flex;
    gap: 12px;
}

.menu-icon {
    height: 22px;
    width: auto;
}

.menu-icon-insta {
    height: 30px;
    width: auto;
}

.tooltip-container {
    position: relative;
    display: inline-block;
  }
  
.tooltip {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 6px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.tooltip-container:hover .tooltip,
.tooltip-container:focus .tooltip {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 768px) {
    .menu-top {
        height: 20vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3vh;
    }

    .menu-left {
        display: flex;
        justify-content: center; /* Centraliza tudo */
        width: 100%; /* Ocupa toda a largura */
        position: relative; /* Permite posicionamento absoluto */
    }

    .back-button {
        position: absolute;
        left: 15px; /* Posiciona o chevron à esquerda */
    }

    .menu-right {
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 0vw;
    }

    .menu-link {
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        transition: color 0.3s;
    }
}