html, body {
    overflow: hidden;
}

.dev-page {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100vw;
    height: 100vh;
}

.dev-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100vw;
    height: 100vh;
}


.box-content-articles {
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 100vw;
    height: 90vh;
}
  

.horizontal-scroll {
    display: flex;
    align-items: start;
    overflow-x: auto;
    width: 100vw;
    height: auto;
    gap: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none; 
  }
  
  .horizontal-scroll-products::-webkit-scrollbar {
    display: none;
  }

  

@media (max-width: 768px) {
    .box-content-articles {
        display: flex;
        align-items: center;
        overflow-x: auto;
        width: 100vw;
        height: 50vh;
    }
  
}