html, body {
    overflow: hidden;
}

.dev-page {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100vw;
    height: 100vh;
}

.content {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 60px;
    /* background-color: orange; */
}

.red {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    margin-left: 10vw;
    /* background-color: red; */
}

.image-3d {
    width: auto;
    height: 100%;
}

.blue {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: start;
    width: 35vw;
    height: 100%;
    /* background-color: blue; */
}

.blue p:first-child {
    font-size: 1.5rem;
    text-align: left;
    color: white;
    font-family: "Arial";
}

.blue p:last-child {
    font-size: 2.4rem;
    margin-top: 0px;
    text-align: left;
    color: white;
}

@media (max-width: 768px) {
    .dev-page {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100vw;
        height: 100%;

        background-image: url('../assets/estampa.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .content {
        width: 100vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        padding-top: 0px;
    }
    
    .red {
        width: 0px;
        height: 0px;
        margin-left: 0px;
    }

    .image-3d {
        width: 100%;
        content: url('../assets/estampa-rotate.png'); /* Substitua pelo caminho correto da nova imagem */
    }
    
    .blue {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 80vw;
        height: 70%;
    }

    .blue p:first-child {
        margin-bottom: 5px;
        font-size: 1.0rem;
        text-align: left;
    }
    
    .blue p:last-child {
        font-size: 1.5rem;
        text-align: left;
    }

    .icon {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 8vh;
        padding-left: 0px;
        z-index: 1;
    }
}