html, body {
  overflow: hidden;
}

.dev-page-products {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100vw;
  height: 100vh;
}

.dev-icon-container-products {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100vw;
  height: 100vh;
}

.horizontal-scroll-products {
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: 100vw;
  height: 100vh;
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scrollbar-color: transparent;
}

.horizontal-scroll-products::-webkit-scrollbar {
  display: none; /* Oculta a barra de rolagem no Chrome e Safari */
  height: 8px;
}

.horizontal-scroll-products::-webkit-scrollbar-track {
  background: transparent;
}

.horizontal-scroll-products::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}


@media (max-width: 768px) {
  
  .horizontal-scroll-products {
    padding-top: 5vh;
      height: auto;
  }

}