html, body {
  overflow: hidden;
}

.dev-page-products {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100vw;
  height: 100vh;
}

.dev-icon-container-products {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100vw;
  height: 100vh;
}

.box-content-projects {
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: 100vw;
  height: 90vh;
}

.horizontal-scroll-products {
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: 100vw;
  height: auto;
  gap: 20px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer e Edge */
}

.horizontal-scroll-products::-webkit-scrollbar {
  display: none; /* Esconde a scrollbar no Chrome, Safari e Edge */
}

@media (max-width: 768px) {
  .box-content-projects {
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 100vw;
    height: 65vh;
  }
}