
html, body {
  overflow: hidden;
}

.dev-page {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100vw;
  height: 100vh;
}

.dev-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100vw;
  height: 100vh;
  /* background-color: peru; */
}


.horizontal-scroll {
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: 100vw;
  height: 100vh;
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scrollbar-color: transparent;
  /* background-color: blue; */
}

.horizontal-scroll::-webkit-scrollbar {
  display: none; /* Oculta a barra de rolagem no Chrome e Safari */
  height: 8px;
}

.horizontal-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}