html, body {
    overflow: hidden;
}

.dev-icon-container-details {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.general-container-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    /* background-color: red; */
}

.background-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    max-height: 60vh;
    background-color: #333;
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 12px
}

.background-details.vertical {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.box-top-description-details {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    /* background-color: greenyellow; */
}

.box-top-description-details.vertical {
    width:70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: greenyellow; */
}

.top-details {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

.top-details.vertical {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.box-icon-details {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    aspect-ratio: 1 / 1;
    height: 20%;
}

.size-icon-details { 
    width: auto;
    height: 16vh;
}

.box-title-details {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
    width: auto;
    height: 100%;
}

.title-details {
    width: 100%;
    height: 6vh;
    font-size: 1.5rem;
}

.subtitle-details {
    width: 100%;
    height: 6vh;
    font-size: 0.9rem;
    font-family: "Arial";
}

.box-badgets-details {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: auto;
    height: 4vh;
}

.size-badget-details {
    width: auto;
    height: 100%;
    margin-right: 0.5vw;
}

.size-badget-details.hidden {
    width: 0px;
    height: 0px;
    margin-right: 0.5vw;
}

.description-details {
    width: 100%;
    height: auto;
    text-align: left;
    align-items: center;
    font-family: "Arial";
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

.description-details.vertical {
    width: auto;
    height: auto;
    font-family: "Arial";
    text-align: left;
    align-items: center;
    padding-right: 0px;
}

.images-details {
    width: 100%;
    height: 50%;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer e Edge */
}
  
.images-details::-webkit-scrollbar {
    display: none; /* Esconde a scrollbar no Chrome, Safari e Edge */
}

.images-details.vertical {
    width: auto;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
}

.images-details.hidden {
    width: 0px;
    height: 0px;
}

.images-details.only {
    width: auto;
    height: 60vh;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}

.size-images-details {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.size-images-details.vertical {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.size-images-details.only {
    width: 30vw;
    height: auto;
    object-fit: contain;
}





@media (max-width: 768px) {
    .general-container-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100%;
        box-sizing: border-box;
        padding-bottom: 20vh;
    }

    .background-details {
        width: 85vw;
        height: auto;
        background-color: #333;
    }
    
    .background-details.vertical {
        width: 85vw;
        flex-direction: column;
        padding: 0px;
    }

    .box-top-description-details {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .top-details {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding: 0px;
    }
    
    .top-details.vertical {
        width: 100%;
        height: auto;
        padding: 12px;
    }

    .box-icon-details {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        aspect-ratio: 1 / 1;
    }

    .box-top-description-details {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        box-sizing: border-box;
        padding-left: 12px;
        padding-right: 12px;
    }

    .box-top-description-details.vertical {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        padding: 0px;
    }
    

    .title-details {
        width: 100%;
        height: 4.5vh;
        font-size: 1.2rem;
        text-align: left;
    }
    
    .subtitle-details {
        height: 5vh;
        font-size: 0.8rem;
        text-align: left;
        line-height: 1.0;
    }

    .box-badgets-details {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        width: 100%;
        height: 3.5vh;
    }

    .size-badget-details {
        width: auto;
        height: 3.5vh;
        margin-right: 5px;
    }


    .description-details {
        width: 100%;
        font-size: 0.5rem;
        padding: 0px;
    }
    
    .description-details.vertical {
        width: 100%;
        height: auto;
        font-family: "Arial";
        text-align: left;
        align-items: center;
        padding-left: 12px;
        padding-right: 12px;
    }

    .images-details {
        width: 100%;
        height: auto;
        overflow-y: hidden;
        overflow-x: auto;
        display: flex;
        flex-direction: row;
    }

    .images-details.vertical {
        width: 100%;
        height: 20vh;
        overflow-y: hidden;
        overflow-x: auto;
        display: flex;
        flex-direction: row;
        padding-bottom: 12px;
        gap: 8px;
    }
    
    .images-details.hidden {
        width: 0px;
        height: 0px;
    }
    
    .images-details.only {
        width: auto;
        height: 20vh;
        overflow-y: hidden;
        overflow-x: hidden;
        display: flex;
        flex-direction: row;
    }

    .size-images-details {
        width: auto;
        height: 12vh;
        object-fit: contain;
        justify-content: center;
        align-items: center;
    }
    
    .size-images-details.vertical {
        width: auto;
        height: auto;
        object-fit: contain;
        justify-content: center;
        align-items: center;
    }
    
    .size-images-details.only {
        width: auto;
        height: 23vh;
        object-fit: contain;
    }

    .size-icon-details { 
        width: auto;
        height: 13vh;
    }
}