
.dev-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100vw;
    height: 100vh;
    /* background-color: greenyellow; */
}

.coming-soon-banner {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: white;
    text-align: center;
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: black;
    padding: 20px 0;
  }

@media (max-width: 768px) {
  
    .coming-soon-banner {
        font-size: 2rem;

    }

}






.project-dev-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: red;
  }
  
  .project-dev-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100vw;
    height: 100vh;
    background-color: blue;
  }
  
  
  .project-horizontal-scroll {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 100%;
    height: 80vh;
    white-space: nowrap;
    scroll-behavior: smooth;
    scrollbar-width: none;
    scrollbar-color: transparent;
    background-color: yellow;
  }
  
  .project-horizontal-scroll::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem no Chrome e Safari */
    height: 8px;
  }
  
  .project-horizontal-scroll::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .project-horizontal-scroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  
  
  