.card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 30vw;
    height: 60vh;
    padding: 10px;
}

.card.zero {
    width: 0vw;
    height: 1vh;
    margin: 0px;
    background: transparent;
}

.cover {
    width: 100%;
    padding-bottom: 5px;
}

.image-article {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 15px;
}

.box-content {
    height: 100%;
    border-radius: 15px;
    background-color: #333;
}

.box-content.zero {
    height: 0px;    
    background-color: transparent;
}

.title-article {
    text-align: left;
    font-size: 1.3rem;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word; 
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.descrip-article{
    text-align: left;    
    font-size: 0.8rem;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word; 
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}







@media (max-width: 768px) {
    .card {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 70vw;
        height: auto;
        padding: 10px;
    }

    .card.zero {
        width: 5vw;
        height: 0vh;
        margin: 0px;
        background: transparent;
    }

    .cover {
        width: 100%;
        height: auto;
        padding-bottom: 0px;
    }
    
    .box-content {
        width: auto;
        height: 30vh;
        border-radius: 10px;
        background-color: #333;
    }
    
    .box-content.zero {
        height: 0px;    
        background-color: transparent;
    }
    
    .title-article {
        width: 80%;
        height: auto;
        text-align: left;
        font-size: 1.0rem;
        word-wrap: break-word;
        white-space: normal;
        overflow-wrap: break-word; 
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .descrip-article{
        width: 80%;
        height: auto;
        text-align: left;
        font-size: 0.8rem;
        word-wrap: break-word;
        white-space: normal;
        overflow-wrap: break-word; 
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
}
