.card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 30vw;
    height: 60vh;
    padding: 10px;
}

.card.zero {
    width: 0vw;
    height: 1vh;
    margin: 0px;
    background: transparent;
}

.cover {
    width: 100%;
    padding-bottom: 5px;
}

.image-article {
    width: 100%;
    border-radius: 15px;
}

.box-content {
    height: 100%;
    border-radius: 15px;
    background-color: #333;
    box-sizing: border-box;
}

.box-content.zero {
    height: 0px;    
    background-color: transparent;
}

.title-article {
    text-align: left;
    font-size: 1.3rem;
    font-weight: normal;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word; 
    padding: 12px;
    padding-bottom: 10px;
    text-decoration: none;
}

.descrip-article{
    text-align: left;    
    font-family: Arial;
    font-size: 0.8rem;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word; 
    text-decoration: none;
    padding: 12px;

}

@media (max-width: 768px) {
    .card {
        width: 70vw;
        height: 37vh;
        padding: 10px;
    }

    .card.zero {
        width: 5vw;
        height: 0vh;
        margin: 0px;
        background: transparent;
    }

    .cover {
        width: 65vw;
        height: auto;
        padding-bottom: 0px;
    }

    .image-article {
        width: 100%;
        border-radius: 15px;
    }
    
    .box-content {
        width: 100%;
        height: 25vh;
        border-radius: 10px;
        background-color: #333;
    }
    
    .box-content.zero {
        height: 0px;    
        background-color: transparent;
    }
    
    .title-article {
        width: 100%;
        height: auto;
        text-align: left;
        font-size: 1.0rem;
        font-weight: bold;
        word-wrap: break-word;
        white-space: normal;
        overflow-wrap: break-word; 
        padding-bottom: 10px;
    }
    
    .descrip-article{
        width: 100%;
        height: auto;
        text-align: left;
        font-size: 0.8rem;
        word-wrap: break-word;
        white-space: normal;
        overflow-wrap: break-word; 
    }
    

}
