#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
    margin: 0 auto;
  text-align: center;
  background-color: black;
}



@font-face {
  font-family: "Arial Black";
  src: url("/assets/fonts/Arial Rounded Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Arial Black", Arial, sans-serif;
}

.menu {
  width: 15vw;
  height: 8vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  font-size: 2.2rem;
  font-family: "Arial Black", Arial, sans-serif;
  border-radius: 50%;
  border: 10px solid white;
  text-transform: uppercase;
  transition: width 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
}

.menu span:hover {
  color: #00ff00;
}

.left,
.right {
  color: white;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.menu.exiting {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 1.0s ease-out, transform 1.0s ease-out;
}

.menu.expanded {
  width: 25vw;
  /*gap: 5vw; */
} 

.menu .center {
  font-size: 2.0rem;
  font-weight: bolder;
}

.menu span {
  transition: color 0.3s ease-in-out;
}

.menu span:hover {
  color: #00ff00;
}

.menu.exiting {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 1.0s ease-out, transform 1.0s ease-out;
}

.menu-wrapper {
  background-color: black;
  display: inline-block; 
  align-items: center;
}

.menu .left,
.menu .right {
  color: white;
  font-size: 1rem;
  font-weight: 900;
  font-style: italic;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 768px) {
  .menu {
    width: 50vw;
    gap: 4vw;
  }

  .menu .center {
    font-weight: bold;
    font-size: 2.0rem;
  }
  .menu.expanded {
    width: 70vw;
    /* gap: 5vw; */
  }

  .menu.expanded .left,
  .menu.expanded .right {
    opacity: 1;
    visibility: visible;
  }
}

@media (min-width: 769px) {
  .menu:hover .left,
  .menu:hover .right {
    opacity: 1;
    visibility: visible;
  }

  .menu.exiting:hover .left,
  .menu.exiting:hover .right {
    opacity: 0;
    visibility: hidden;
  }

  .menu .center {
    font-size: 2.0rem;
  }

  .menu:hover {
    width: 25vw;
  }
}

