@font-face {
  font-family: "Arial Black";
  src: url("/fonts/ArialBlackGstv.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}


:root {
  font-family: "Arial Black", system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: only dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  padding: 0px;
  margin: 0px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Arial Black", system-ui, Avenir, Helvetica, Arial, sans-serif;
}